

/* ========================================================================================
                                    medium device
 ========================================================================================== */
 @media screen  and (min-width:768px) and (max-width:991px){
    .menu{
        margin-top: 30px;
    }
    .nav-wrapper {
        flex-direction: column;
    }
    .f-wrapper {
        flex-direction: column;
        gap: 30px;
    }
    .about-title h3 {
        padding-right: 0;
    }
    .about-wrapper {
        flex-direction: column;
    }
    .about-right-item a {
       display: none;
    }
    .p-title{
        text-align: center;
    }
    .p-title p {
        padding-right: 0;  
    }
    .project-wrapper {
        flex-wrap: wrap;
        gap: 3px;
    }
    .Sponspors-title p {
        padding: 0;
    }
    .sponspors-wrapper {
    flex-wrap: wrap;  
    gap: 45px;  
    justify-content: center;  
    }
    .sponspors-item{
        width: 30%;
    }
    .project-item{
        width: 33%;
    }
    .last-project{
        margin: 0 auto;
    }
    .about-right-item{
        width: 100vw;
    }
 }
/* ========================================================================================
                                    small device
 ========================================================================================== */
 @media screen and (min-width:576px) and (max-width:767px){
    .nav-wrapper {
        flex-direction: column;
        gap: 20px;
    }
    .f-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .left-feature {
        grid-template-columns: repeat(1,1fr);
    }
    .left-feature .f-item img {
        width: 100vw;
    }
    .about-wrapper {
        text-align: center;
        gap: 20px;
        flex-direction: column;
    }
    .about-items p {
        padding-right: 0;
    }
    .about-right-item a {
       display: none;
    }
    .about-right-item{
        width: 100vw;
    }
    .p-title p {
        padding-right: 0; 
    }
    .p-title {
       text-align: center;
    }
    .project-wrapper {
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;

    }
    .project-item{
        width: 45%;
    }
    .Sponspors-title p {
        padding: 0;
    }
    .copy-wrapper {
        text-align: center;
        flex-direction: column;
    }
    .sponspors-wrapper {
       flex-wrap: wrap;
        gap: 30px;
        justify-content: center;

    }
    .sponspors-item{
        width: 45%;
        text-align: center;
    }
    .about-title h3 {
        padding-right: 107px;
    }
 }
/* ========================================================================================
                                     x-small device
 ========================================================================================== */
 @media screen  and (max-width:575px){
    .nav-wrapper {
        flex-direction: column;
        gap: 20px;
    }
    .menu ul li {
        margin-right: 25px;
      }
      .ban-content h1 {
        font-size: 32px; 
        line-height: 33px;
    }

    .ban-content p {
        font-size: 15px;
        padding: 0;
    }
    .f-wrapper {
        flex-direction: column;
    }
    .left-feature {
        grid-template-columns: repeat(1,1fr);
    }
    .about-title h3 {
        font-size: 18px;
        padding-right: 0px; 
    }
    .about-wrapper {
        flex-direction: column;
    }
    .about-right-item img {
        width: 100vw;
        height: 530px;
    }
    .about-right-item a{
        display: none;
    }
    .p-title p {
        padding-right: 0;
    }
    .about-title p {
        padding-right: 0;
    }
    .about-items p {
        padding-right: 0;
    }
    .project-wrapper {
        flex-direction: column;
        gap: 20px;
    }
    .Sponspors-title p {
        padding: 0;
    }
    .sponspors-wrapper {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    .copy-wrapper {
        flex-direction: column;
        text-align: center;
    }
    
 }