/* ========================================================================================
                                     x-small device
 ========================================================================================== */
 @media screen  and (max-width:575px){
    .nav-wrapper {
        flex-direction: column;
        gap: 20px;
    }
    .menu ul li {
        margin-right: 25px;
      }
      .ban-content h1 {
        font-size: 32px; 
        line-height: 33px;
    }

    .ban-content p {
        font-size: 15px;
        padding: 0;
    }
    .f-wrapper {
        flex-direction: column;
    }
    .left-feature {
        grid-template-columns: repeat(1,1fr);
    }
    .about-title h3 {
        font-size: 18px;
        padding-right: 0px; 
    }
    .about-wrapper {
        flex-direction: column;
    }
    .about-right-item img {
        width: 100vw;
        height: 530px;
    }
    .about-right-item a{
        display: none;
    }
    .p-title p {
        padding-right: 0;
    }
    .about-title p {
        padding-right: 0;
    }
    .about-items p {
        padding-right: 0;
    }
    .project-wrapper {
        flex-direction: column;
        gap: 20px;
    }
    .Sponspors-title p {
        padding: 0;
    }
    .sponspors-wrapper {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    .copy-wrapper {
        flex-direction: column;
        text-align: center;
    }
    
 }