/* =======================================================================
                               Common css start Here
   ======================================================================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
/* =======================================================================
                               Common css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */
/* =======================================================================
                               Navbar css start Here
   ======================================================================= */
/* =======================================================================
                               Navbar css End Here
   ======================================================================= */